.cover-img{
    @include viewport(small) {
        width: 90%;
        margin-top: 20px;
    }
      @include viewport(medium) {
        width: 600px;
        margin-top: 20px;
    }
    @include viewport(large) {
        width: 700px;
        margin-top: 20px;
    }
      @include viewport(x-large) {
        width: 800px;
        margin-top: 20px;
    }
      @include viewport(xx-large) {
        width: 1000px;
        margin-top: 30px;
      }
}

.case-grid{
        display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 1rem;
}

.case-study{
    width: 400px;
}

.case-img{
    width: 100%;
    object-fit: cover;
}