pre{
    padding: 1.5rem;
    margin: 1.5rem 0;
    overflow-x: auto;   
}
pre {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0px;
    
        
}
code, pre {
    background-color: $code;
    color: $white;
    font-size: 0.8rem;
    text-align: start;
    
}
.code-logo{
    margin: 1.5rem 0;
    padding: 0.5rem;   
}
#coding{
    padding-top: 0.01rem;
    padding-bottom: 3rem;
} 