.content-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}
.treehouse-container{
    margin: 120px 1rem 0 1rem;
    border-top: 3px solid #fff;
    border: 1ex solid #185ad4;
    padding: 20px;     
}
.treehouse-container:hover {
    transform: translate(0, -30px);
  }
.image {
    max-width: 200px;
    max-height: 200px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}
.tree-title {
    text-align: center;
    color: #185ad4;
    font-weight: 400;
}
.net li{
    list-style:circle;
    letter-spacing: 1px;
  font-size:14px;
  color: black;
  font-weight: 600;
    line-height: 1.5;
    text-align: left;
}
.scion-container {
    margin: 120px 1rem 30px 1rem;
    border-top: 3px solid #fff;
    border: 1ex solid #185ad4;
    padding: 20px;
    }