//side bar //

.primary-nav__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-bottom: 0.5rem solid $color-primary;
    background: linear-gradient(89.8deg, rgb(39, 115, 255) 4.3%, rgb(62, 211, 232) 101.4%);
    color: $white;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 64px;
  }
  .primary-nav__logo:hover{
    text-decoration: none; 
  }
a{
    text-decoration: none;
}
.primary-nav {
    display: flex;
    flex-direction: column;
    width: 16rem;
    position: fixed;
    height: 100vh;
    border-right: 0.5rem solid $color-primary;
    background-color: $white;
    margin-top: 0;
  }
  .primary-nav ul {
    list-style: none;
    padding: 0;
  } 
  
.primary-nav__vertical-flex-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  li{
    text-decoration: none;
  }
  
.primary-nav__subpages-menu {
    margin: 2rem;
    font-size: 1.25rem;
    font-weight: 600;
    
  }
  .primary-nav__subpages-menu li {
    border-bottom: 0.2rem solid $color-primary;
    margin: 0;
  }
  .primary-nav__subpages-menu li a {
    display: block;
    padding: 1rem;
    text-align: center;
    color: $color-third;
  }
  .primary-nav__subpages-menu li a:hover {
    text-decoration: none;
    color: $white;
    background-color: $color-secondary;
  }
  
  .primary-nav__subpages-menu li a:active {
    color: $white;
  }
  @media (max-width: calc(992px)){
.primary-nav--hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
  }
  .nav-socials {
    display: flex;
    justify-content: center;
    margin-top: 0;
    padding: 0;
}
.nav-socials a{
  text-decoration:none;
}
.nav-socials li{
  display: inline-block;
}
.social{
  font-size: 42px;
  margin-right: 5px;
  color: $color-third;
}
.link:hover{
  color: #0077B5;
}
.git:hover{
  color: #6E40C9;
}
.insta:hover{
  color: #E1306C;
}
.primary-nav__flex-container {
  display: flex;
  flex-direction: column;
}
//hamburger//
.primary-nav__hamburger {
  position: fixed;
  z-index: 1;
  vertical-align: middle;
  top: 1.25rem;
  right: 1.25rem;
  width: 3.125rem;
  height: 3.125rem;
}
@media (min-width: 992px) {
  .primary-nav__hamburger {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
}
.hamburger {
    padding: 0;
    border: 3px solid $color-primary;
    border-radius: 3px;
    background-color: #FFF;
    color: $color-primary;
    cursor: pointer;
}