//side bar //

.primary-nav__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-bottom: 0.5rem solid #185ad4;
    background: linear-gradient(89.8deg, rgb(39, 115, 255) 4.3%, rgb(62, 211, 232) 101.4%);
    color: white;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 64px;
  }
a{
    text-decoration: none;
}
.primary-nav {
    display: flex;
    flex-direction: column;
    width: 16rem;
    position: fixed;
    height: 100vh;
    border-right: 0.5rem solid #185ad4;
    background-color: #FFF;
    margin-top: 0;
  }
  .primary-nav ul {
    list-style: none;
    padding: 0;
  } 
  
.primary-nav__vertical-flex-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  li{
    text-decoration: none;
  }
  
.primary-nav__subpages-menu {
    margin: 2rem;
    font-size: 1.25rem;
    font-weight: 600;
  }
  .primary-nav__subpages-menu li {
    border-bottom: 0.2rem solid #185ad4;
    margin: 0;
  }
  .primary-nav__subpages-menu li a {
    display: block;
    padding: 1rem;
    text-align: center;
    color: #329FF4;
  }
  .primary-nav__subpages-menu li a:hover {
    text-decoration: none;
    color: #FFF;
    background-color: #3BCEE9;
  }
  
  .primary-nav__subpages-menu li a:active {
    color: white;
  }
  @media (max-width: calc(899px)){
.primary-nav--hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
  }
